body {
  margin: 0;
  padding: 0;
}

html, body, #root {
  display: flex;
  flex: 1;
  height: 100%;
  width: 100%;
}

p {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'SourceSansPro-Bold';
  src: local('SourceSansPro-Bold'), url(/src/assets/fonts/source-sans-pro/SourceSansPro-Bold.ttf) format('woff');
}

@font-face {
  font-family: 'SourceSansPro-Black';
  src: local('SourceSansPro-Black'), url(/src/assets/fonts/source-sans-pro/SourceSansPro-Black.ttf) format('woff');
}